<div class="wrapper">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-default sidebar-menu">
      <div class="panel-heading">
        <h3><%= t "activities.header" %></h3>
      </div>
      <div class="panel-body">
        <%= render @activities %>
      </div>
      <div class="panel-footer text-center">
        <%= will_paginate @activities %>
      </div>
    </div>
  </div>
</div>
