<% provide :title, "#{t ".title"} #{@word.content}" %>
<div class="wrapper">
  <%= render "admin/layouts/left_panel" %>
  <div class="col-md-9 col-sm-12">
    <h1 class="admin-header">
      <%= "#{t ".header"} #{@word.content}" %>
    </h1>
    <div class="col-md-8 col-md-offset-2">
      <div id="update_word">
        <%= render "word_modal" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "words", "data-turbolinks-track": true %>
